<ion-header>
  <ion-toolbar>
    <ion-title>
      Products
    </ion-title>
  </ion-toolbar>
  <ion-item>
    <ion-label>Product</ion-label>
    <ion-select ok-text="Okay" cancel-text="Dismiss" (ionChange)="setProduct($event)">
      <ion-select-option *ngFor="let product of products" value="{{product.ID}}">{{product.Name}}</ion-select-option>
    </ion-select>
  </ion-item>
</ion-header>

<ion-content>

<ion-list>
  <ion-item *ngFor="let part of parts">
  
    <ion-avatar slot="start">
      <img src="http://192.168.0.19/Windchill/servlet/WindchillAuthGW/wt.content.ContentHttp/viewContent/sqb068_prt.jpg?u8&HttpOperationItem=wt.content.ApplicationData%3A149836&ofn=sqb068_prt.jpg&ContentHolder=wt.viewmarkup.DerivedImage%3A149811&forceDownload=true"/>
    </ion-avatar>
    
    <ion-label>
      <h2>{{part.Name}}</h2>
    </ion-label>
  </ion-item>
</ion-list>
</ion-content>
